{% extends 'accounts/base.html' %}

{% block fields %}

<input type="text" style="margin-top: 0.5rem;" placeholder="Full Name" name="full_name" required>
<input type="email" style="margin-top: 0.5rem;" name="email" placeholder="Email" required>
<input type="text" style="margin-top: 0.5rem;" placeholder="username" name="username" required>
<input type="password" style="margin-top: 0.5rem;" placeholder="Password" name="password" required>

{% endblock %}

{% block authAs %}
Sign Up
{% endblock %}

{% block authenticateAs %}
Sign Up
{% endblock %}