:root{
  --theme:#475D44;
}

.searchMenu img{
  width: 1.1875rem;
  height: 1.2rem;
}

.searchMenu{
  display: flex;
  padding: 0.5rem 0;
  justify-content: center;
}

.inputSpace{
  border: 1px solid black;
  border-radius: 3px 0px 0 3px;
  padding: 0.2rem 0.5rem;
  display: flex;
  align-items: center;
}

.searchMenu button{
  border: none;
  border-radius: 0px 3px 3px 0;
  background-color: var(--theme);
  color: white;
  padding: 0 1rem;
}

.searchQueryBox{
  margin: auto;
}

.searchQueryBox input{
  border: none;
  background-color: transparent;
}

.searchQueryBox input:focus{
  outline: none;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar>.container-fluid{
  justify-content: space-around;
}

.brandName img{
  max-width: 6rem;
}

.navbar{
  border-bottom: 1px solid #dbdbdb;
  background-color: transparent;
}

.userBtn{
  padding-bottom: 0;
  padding-top: 0;
}

.userBtn img{
  width: 2.2rem;
  border: 2px solid var(--theme);
  padding: 0.2rem;
  border-radius: 50px;
}



.landingHome{
  display: flex;
  background: linear-gradient(270deg, #E4E4E4 0%, #F7F7F7 100%);
  justify-content: space-around;
}

.leftSide span{
  display: block;
}

.rightSide img{
  width: 50.5rem;
}

.leftContent:nth-child(1){
  font-weight: 400;
  font-size: 24px;
}

.leftContent:nth-child(2){
  font-weight: 400;
  font-size: 48px;
  line-height: 69px;
}

.leftContent:nth-child(3){
  font-weight: 400;
  font-size: 48px;
  line-height: 69px;
}

.leftContentBox{
  position: relative;
  top: 10rem;
  left: 10rem;
}

.leftContent:nth-child(4){
  background: var(--theme);
  border-radius: 5px;
  color: white;
  margin: 1rem 0;
}