{% extends 'base/base.html' %}

{% block css %}

<style>
    /* Landing Home Page */

    .landingHome{
      display: flex;
      background: linear-gradient(270deg, #E4E4E4 0%, #F7F7F7 100%);
      justify-content: space-around;
      flex-wrap: wrap;
    }

    .leftSide span{
      display: block;
    }

    .rightSide img{
      width: 50.5rem;
    }

    .leftContent:nth-child(1){
      font-weight: 400;
      font-size: 24px;
    }

    .leftContent:nth-child(2){
      font-weight: 400;
      font-size: 48px;
      line-height: 69px;
    }

    .leftContent:nth-child(3){
      font-weight: 400;
      font-size: 48px;
      line-height: 69px;
    }

    .leftContentBox{
      position: relative;
      top: 10rem;
      left: 10rem;
    }

    .leftContent:nth-child(4){
      background: var(--theme);
      border-radius: 5px;
      color: white;
      margin: 1rem 0;
    }

    /* Service Level Page */

    .headMessage{
      font-weight: 500;
      font-size: 40px;
      line-height: 48px;
      text-align: center;
      max-width: 49rem;
      margin: 5rem auto;
    }

    .headMessage span{
      color: var(--theme);
    }

    .FourCards{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    .serviceCards{
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 16.875rem;
      box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.12);
      padding: 1rem;
      margin: 0 0 5rem 0;
    }

    .serviceCards h2{
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      margin: 0.7rem 0;
    }

    .serviceCards h3{ 
      text-align: center;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
    }

    /* About Us */
    a,
    a:active,
    a:focus {
        color: #6f6f6f;
        text-decoration: none;
        transition-timing-function: ease-in-out;
        -ms-transition-timing-function: ease-in-out;
        -moz-transition-timing-function: ease-in-out;
        -webkit-transition-timing-function: ease-in-out;
        -o-transition-timing-function: ease-in-out;
        transition-duration: .2s;
        -ms-transition-duration: .2s;
        -moz-transition-duration: .2s;
        -webkit-transition-duration: .2s;
        -o-transition-duration: .2s;
    }
    
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    section {
        padding: 60px 0;
        /* min-height: 100vh;*/
    }

    .sec-title{
      position:relative;
      z-index: 1;
      margin-bottom:60px;
    }

    .sec-title .title{
      position: relative;
      display: block;
      font-size: 18px;
      line-height: 24px;
      color: var(--theme);
      margin-top: 1rem;
      font-weight: 500;
      margin-bottom: 15px;
    }

    .sec-title h2{
      position: relative;
      display: block;
      font-size:40px;
      line-height: 1.28em;
      color: #222222;
      font-weight: 600;
      padding-bottom:18px;
    }

    .sec-title h2:before{
      position:absolute;
      content:'';
      left:0px;
      bottom:0px;
      width:50px;
      height:3px;
      background-color:#d1d2d6;
    }

    .sec-title .text{
      position: relative;
      font-size: 16px;
      line-height: 26px;
      color: #848484;
      font-weight: 400;
      margin-top: 35px;
    }

    .sec-title.light h2{
      color: #ffffff;
    }

    .sec-title.text-center h2:before{
      left:50%;
      margin-left: -25px;
    }

    .list-style-one{
      position:relative;
    }

    .list-style-one li{
      position:relative;
      font-size:16px;
      line-height:26px;
      color: #222222;
      font-weight:400;
      padding-left:35px;
      margin-bottom: 12px;
    }

    .list-style-one li:before {
        content: "\f058";
        position: absolute;
        left: 0;
        top: 0px;
        display: block;
        font-size: 18px;
        padding: 0px;
        color: #ff2222;
        font-weight: 600;
        -moz-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1.6;
        font-family: "Font Awesome 5 Free";
    }

    .list-style-one li a:hover{
      color: #44bce2;
    }

    .btn-style-one{
      position: relative;
      display: inline-block;
      font-size: 17px;
      line-height: 30px;
      color: #ffffff;
      padding: 10px 30px;
      font-weight: 600;
      overflow: hidden;
      letter-spacing: 0.02em;
      background-color: #00aeef;
    }

    .btn-style-one:hover{
      background-color: #0794c9;
      color: #ffffff;
    }
    .about-section{
      position: relative;
      padding: 120px 0 70px;
    }

    .about-section .sec-title{
      margin-bottom: 25px;
    }

    .about-section .content-column{
      position: relative;
      margin-bottom: 50px;
    }

    .about-section .content-column .inner-column{
      position: relative;
      padding-left: 30px;
    }

    .about-section .text{
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 26px;
      color: #848484;
      font-weight: 400;
    }

    .about-section .list-style-one{
      margin-bottom: 45px;
    }

    .about-section .btn-box{
      position: relative;
    }

    .about-section .btn-box a{
      padding: 15px 50px;
    }

    .about-section .image-column{
      position: relative;
    }

    .about-section .image-column .text-layer{
        position: absolute;
        right: -110px;
        top: 50%;
        font-size: 325px;
        line-height: 1em;
        color: #ffffff;
        margin-top: -175px;
        font-weight: 500;
    }

    .about-section .image-column .inner-column{
      position: relative;
      padding-left: 80px;
      padding-bottom: 0px;
    }
    .about-section .image-column .inner-column .author-desc{
        position: absolute;
        bottom: 16px;
        z-index: 1;
        background: orange;
        padding: 10px 15px;
        left: 96px;
        width: calc(100% - 152px);
        border-radius: 50px;
    }
    .about-section .image-column .inner-column .author-desc h2{
        font-size: 21px;
        letter-spacing: 1px;
        text-align: center;
        color: #fff;
      margin: 0;
    }
    .about-section .image-column .inner-column .author-desc span{
        font-size: 16px;
        letter-spacing: 6px;
        text-align: center;
        color: #fff;
      display: block;
      font-weight: 400;
    }
    .about-section .image-column .inner-column:before{
        content: '';
        position: absolute;
        width: calc(50% + 80px);
        height: calc(100% + 160px);
        top: -80px;
        left: -3px;
        background: transparent;
        z-index: 0;
        border: 44px solid var(--theme);
    }

    .about-section .image-column .image-1{
      position: relative;
    }
    .about-section .image-column .image-2{
      position: absolute;
      left: 0;
      bottom: 0;
    }

    .about-section .image-column .image-2 img,
    .about-section .image-column .image-1 img{
      box-shadow: 0 30px 50px rgba(8,13,62,.15);
          border-radius: 46px;
    }

    .about-section .image-column .video-link{
      position: absolute;
      left: 70px;
      top: 170px;
    }

    .about-section .image-column .video-link .link{
      position: relative;
      display: block;
      font-size: 22px;
      color: #191e34;
      font-weight: 400;
      text-align: center;
      height: 100px;
      width: 100px;
      line-height: 100px;
      background-color: #ffffff;
      border-radius: 50%;
      box-shadow: 0 30px 50px rgba(8,13,62,.15);
      -webkit-transition: all 300ms ease;
      -moz-transition: all 300ms ease;
      -ms-transition: all 300ms ease;
      -o-transition: all 300ms ease;
      transition: all 300ms ease;
    }

    .about-section .image-column .video-link .link:hover{
      background-color: #191e34;
      color: #ffffff;
    }

    /* Popular Prodcuts */

    .PopProd_heading{
      font-weight: 500;
      font-size: 40px;
      line-height: 48px;
      margin: 0 0 5rem 0;
      text-align: center;
    }

    .PopProd_heading span{
      color: var(--theme);
    }

    .all_prods{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    .products{
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid;
      padding: 1rem;
      border-radius: 5px;
    }

    .prodImg{
      width:10.7137rem;
      mix-blend-mode: darken;
    }

    .prodTitle{
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
    }

    .prodReview{
      display: flex;
    }

    .prodReview > span{
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      display: flex;
      align-items: center;
    }

    .reviewBox{
      display: flex;
      align-items: center;
    }

    .reviewBox img{
      width: 0.7531rem;
      height: 0.7388rem;
    }

    .prodBtns{
      margin-top: 1rem;
    }

    .buyBtn{
      background: var(--theme);
      color: white;
      border-radius: 0;
      border: 2px solid var(--theme);
      text-decoration: none;
      padding: 0.5rem 1rem;
      cursor: pointer;
    }

    .buyBtn:hover{
      color: white;
      background: var(--theme);
    }

    .buyBtn:active{
      background: var(--focus);
      border: 2px solid var(--focus);
    }

    .cartBtn{
      border: 2px solid var(--theme);
      border-radius: 0;
      color: var(--theme);
      text-decoration: none;
      padding: 0.5rem 1rem;
      cursor: pointer;
    }

    .moreBtn{
      margin: 5rem 0;
      display: flex;
      justify-content: center;
    }

    .cartBtn:active{
      background-color: rgb(216 216 216 / 57%);
    }

</style>

{% endblock  %}

{% block start %}
<!-- Landing Page -->

<div class="landingHome" id="landingpage">
    <div class="leftSide">
        <div class="leftContentBox">
            <span class="leftContent">New Collection</span>
            <span class="leftContent">Get The Skin</span>
            <span class="leftContent">You Want To Feel</span>
            <a href="/shop" class="leftContent btn">Shop Now &#8594;</a>
        </div>
    </div>
    <div class="rightSide">
        <img src="/media/plugins/girl.png" alt="noting to show" />
    </div>
</div>

<!-- Service Level Page -->

<div class="ServiceLvl" id="Services">
    <h2 class="headMessage"><span>Unleash </span>your inner beauty with our wide range of cosmetics.</h2>
    <div class="FourCards">
        <div class="serviceCards">
            <img src="/media/plugins/warehouse.png" alt="" />
            <h2>Training</h2>
            <h3 class="ServiceStatement">
                Product Training, Institute Service, Complete SkinCare Training, In salon Demo by our Technical Experts.
            </h3>
        </div>
        <div class="serviceCards">
            <img src="/media/plugins/delivery.png" alt="" />
            <h2>Product Shipping</h2>
            <h3 class="ServiceStatement">
              We provide PAN India supply of orders, delivering your products on time and in perfect condition.
            </h3>
        </div>
        <div class="serviceCards">
            <img src="/media/plugins/customer.png" alt="" />
            <h2>Customer Support</h2>
            <h3 class="ServiceStatement">
              Customer satisfaction is our top priority.
            </h3>
        </div>
        <div class="serviceCards">
            <img style="width: 3.5rem;" src="/media/plugins/manufacture.png" alt="" />
            <h2>Manufacturing</h2>
            <h3 class="ServiceStatement">
                Contract or Private level manufacturing of products.
            </h3>
        </div>
    </div>
</div>

<!-- About Us -->

<section class="about-section" id="aboutus">
  <div class="container">
      <div class="row">                
          <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
              <div class="inner-column">
                  <div class="sec-title">
                      <span class="title">About Us</span>
                      <h2>Elevate Your Look,
                        Feel Your Best</h2>
                  </div>
                  <div class="text">Dermacet gives you professional treatments and homecare products that achieve
                    absolutely fabulous results. Dermacet products are all formulated with scientifically
                    proven herbal actives and bio- technological ingredients in the purest form with
                    nano technology. Dermacet offers clearer, youthful skin with brightening radiance
                    upon the first application. </div>
                <div class="text">
                  Dermacet is the brand marketing under ANYA COSMECEAUTICALS. All the products are a unique blend of active herbals ingredients in combination of medical science. The company has progressively adopted the latest updated technology and innovations. All the products are manufacturing to the high standards upheld by the professional cosmetics industry.
                </div>
                <a href="/media/plugins/flyer 2 fold.pdf" class="buyBtn mt-5" style="font-size: larger; border-radius: 5px 5px 5px 5px;">Know More</a>
              </div>
          </div>

          <!-- Image Column -->
          <div class="image-column col-lg-6 col-md-12 col-sm-12">
              <div class="inner-column wow fadeInLeft">
                  <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img title="Dermacet" src="/media/plugins/seminars 1.png" alt=""></a></figure>
              </div>
          </div>
        
      </div>
</section>

<!-- End - About Us -->

<!-- Popular Products -->

<div>
    <h2 class="PopProd_heading">
      <span>Popular </span>
      Products
    </h2>
    <div class="all_prods">
      {% for product in popular_products %}
      <div class="products">
          <img src="/media/{{product.product_images.first.image}}" alt="popular_products_image" class="prodImg" />
          <h3 class="prodTitle">{{product.prod_name}}</h3>
          <div class="prodReview">
              <span>⭐4.5 | </span>
              <div class="reviewBox">
                  <img src="/media/plugins/verified.png" alt="" />
                  <span> {{ product.reviews.all|length }} reviews</span>
              </div>
          </div>
          <div class="prodRate">
              <span>₹{{product.price}}<strike>₹250.00</strike></span>
          </div>
          <div class="prodBtns">
              <a href="{% url 'Product' product.slug %}" class="buyBtn">Buy Now</a>
              <a href="{% url 'cart' product.uid %}" class="cartBtn">Add to cart</a>
          </div>
      </div>
      {% endfor %}
    </div>
    <div class="moreBtn">
      <a href="/shop" class="cartBtn" >See All</a>
    </div>
  </div>
  <script>
    document.addEventListener("scroll",(event)=>{
        if(window.pageYOffset > 200){
            document.getElementById("navbar").style.position = "fixed";
            document.getElementById("navbar").style.width = "100vw";
            document.getElementById("navbar").style.opacity = "0.97";
        }
        else{
            document.getElementById("navbar").style.position = "static";
            document.getElementById("navbar").style.opacity = "1";
        }
    })
</script>

  
{% endblock %}