{% extends 'base/base.html' %}

{% block css %}

<style>

.cart_start{
    background: #EAEDED;
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    flex-wrap: wrap;
    /* height: 50vh; */
}

.cart_box{
    background: white;
    padding: 1rem;
}

.cart_heading{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    padding: 0 1rem;
    border-bottom: 2px solid #D6D6D6;
    align-items: center;
}

.cart_heading h2, .cart_heading h5{
    color: var(--theme);
}


.product_img img{
    width: 15rem;
    mix-blend-mode: darken;
}

.prod_quantity_set{
    display: flex;
}

.product_container{
    display: flex;
    flex-wrap: wrap;
}

.cart_body{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

.checkbox{
    display: flex;
    align-items: center;
}

.checkbox input{
    height: 1rem;
    width: 1rem;
}

.prod-title{
    padding: 0.5rem 0;
    margin: 1rem 0;
    /* font-size: 2rem; */
    /* font-family: 'Karla'; */
    max-width: 40rem;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    /* line-height: 23px; */
}

.prod-title span{
    padding: 0.5rem 0;
    display: block;
    font-size: 15px;
    /* width: 2.5rem; */
    color: var(--theme);
    font-style: italic;
}

.quantityType{
    border: 1px solid #D8D8D8;
    margin: 5px 0;
    user-select: none;
    display: flex;
}

.quantityType span{
    padding: 0 0.5rem;
    cursor: pointer;
}

.quantityType span:hover{
    background: #DBE8E8;
}

.quantityType input{
    border: none;
    outline: none;
    width: 3rem;
    text-align: center;
}

.quantityType input::-webkit-outer-spin-button, .quantityType input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.prod_price span{
    font-weight: bold;
    color: black;
}

.prod_price > span{
    color: var(--theme);
}

.selection-box{
    padding: 1rem;
    background: white;
    display: flex;
    flex-direction: column;
}

.selection-box span{
    font-size: 1.6rem;
}

.proc-Btn{
    border-radius: 5px;
    margin: 1rem 0;
}

.coupen-box{
    padding: 1rem;
    background: white;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.coupen-box label{
    font-size: 1.5rem;
    margin: 0 0 0.5rem 0;
}

.coupen-box input{
    padding: 0.5rem 1rem;
    outline: none;
    background: #EAEDED;
    border: none;
    border-radius: 5px;
}

.prod_child{
    margin: 0 0.5rem ;
}

.prod_child:nth-child(3){
    border-left: 2px solid #D8D8D8;
    text-decoration: none;
    color: black;
    padding: 0 0.5rem;
}

.side-boxes{
    margin: 0.5rem 0;
}

</style>

{% endblock %}

{% block start %}
{% include "base/alert.html" %}
<div class="cart_start">
    <div class="cart_box" style="width: 70rem;">
        <div class="cart_heading">
            <h2>Your Wishlist ({{request.user.profile.get_cart_count}})</h2>
            {% if request.user.profile.get_cart_count %}
            <h5>Price</h5>
            {% endif %}
        </div>
        {% if request.user.profile.get_cart_count %}
        {% for cart_item in cart_items %}
        <div class="cart_body">
            <div class="product_container">
                <h2>{{ cart_item.product.product_images.url }}</h2>
                <div class="product_img">
                    <img src="{{ cart_item.product.product_images.first.image.url }}" alt="">
                </div>
                <div class="product_details">
                    <h2 class="prod-title">
                        {{ cart_item.product.prod_name }}
                        {% if cart_item.product.product_available_count %}
                        <span>
                            In Stock    
                        </span>
                        {% else %}
                        <span>
                            Out of Stock
                        </span>
                        {% endif %}
                    </h2>
                    <div class="prod_quantity_set">
                        <span class="prod_child">Quantity</span>
                        <form method="post" action="{% url 'update_cart_quantity' cart_item.uid %}" class="quantityType prod_child"> {% csrf_token %}
                            <span id="decrement_{{cart_item.uid}}">-</span>
                            <input type="number" name="quantity" id="productQuantity_{{cart_item.uid}}" value="{{cart_item.quantity}}">
                            <span id="increment_{{cart_item.uid}}" title="Add Quantity">+</span>
                            <button style="padding: 0 0.5rem; margin: 0; background: var(--theme); color: white; border: 2px solid var(--theme);" type="submit" class="prod_child">Set</button>
                        </form>
                        <a href="{% url 'remove_cart' cart_item.uid %}" class="prod_child">Delete</a>
                    </div>
                </div>
            </div>
            <div class="prod_price">
                <span><span>₹</span>{{ cart_item.product.price }}</span>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="empty-cart" style="display: flex; flex-direction: column; align-items: center;">
            <h3>Your Cart is Empty</h3>
            <img src="/media/plugins/bag.png" style="width: 10rem;" alt="">
            <a href="/shop" class="buyBtn my-2" style="border-radius: 5px;">Continue Shopping</a>
        </div>
        {% endif %}
    </div>
    <div class="aside-box">
        <form method="post" class="selection-box side-boxes"> {% csrf_token %}
            <input name="cost_of_cart" type="hidden" value="{% if cart_items and cart_items.0.cart.get_cart_total %}{{ cart_items.0.cart.get_cart_total }}{% else %}0{% endif %}">
            <span>Subtotal ({{request.user.profile.get_cart_count}} Item): ₹ {% if cart_items and cart_items.0.cart.get_cart_total %}{{ cart_items.0.cart.get_cart_total }}{% else %}0{% endif %}</span>
            <button  class="btn buyBtn proc-Btn" id="proc-to-buy" >Proceed To Buy</button>
        </form>
        <form method="post" class="coupen-box side-boxes">
            {% csrf_token %}
            {% if cart.coupen %}
                {% if cart.coupen.minimun_amount >  cart_items.0.cart.get_cart_total %}
                <span style="color: red;">*Minimum Amount for applying of coupon is {{cart.coupen.minimun_amount}}*</span>
                <label for="coupen">Enter Coupen <a id="remove_coupon" href="{% url 'remove_coupon' cart.coupen.uid %}" style="background: green; color: white;" class="btn">{{cart.coupen.coupen_code}} &nbsp; &nbsp; X</a></label> 
                {% else %}
                <label for="coupen">Enter Coupen <a id="remove_coupon" href="{% url 'remove_coupon' cart.coupen.uid %}" style="background: green; color: white;" class="btn">{{cart.coupen.coupen_code}} &nbsp; &nbsp; X</a></label> 
                {% endif %}
            {% else %}
            <label for="coupen">Enter Coupen </label>
            {% endif %}
            <input type="text" name="coupen" id="coupen" placeholder="Enter...">
            <button type="submit" id="coupen_submit" class="btn buyBtn proc-Btn">Apply</button>

        </form>
    </div>
</div>

{% if request.user.profile.get_cart_count %}
{% for cart_item in cart_items %}
<script>
    document.getElementById("increment_{{cart_item.uid}}").addEventListener("click", ()=>{
        let presentNum = document.getElementById("productQuantity_{{cart_item.uid}}").value
        document.getElementById("productQuantity_{{cart_item.uid}}").value = (Number(presentNum) + 1).toString();
        Number(presentNum)<1?Number(presentNum):document.getElementById("productQuantity_{{cart_item.uid}}").setAttribute("value",document.getElementById("productQuantity_{{cart_item.uid}}").value)
    })

    document.getElementById("decrement_{{cart_item.uid}}").addEventListener("click", ()=>{
        let presentNum = document.getElementById("productQuantity_{{cart_item.uid}}").value
        document.getElementById("productQuantity_{{cart_item.uid}}").value = (Number(presentNum)<=1?Number(presentNum):Number(presentNum) - 1).toString();
        Number(presentNum)<=1?Number(presentNum):document.getElementById("productQuantity_{{cart_item.uid}}").setAttribute("value",document.getElementById("productQuantity_{{cart_item.uid}}").value)
    })
</script>
{% endfor %}
{% endif %}

<script>
    let coupen_submit = document.getElementById("coupen_submit").addEventListener("click", (event)=>{
        let coupen = document.getElementById("coupen").value;
        if (coupen==""){
            alert("Please Enter Coupen")
            event.preventDefault()
        }
    })


    let proc_to_buy = document.getElementById("proc-to-buy").addEventListener("click", (event)=>{
        let cost_of_cart = document.getElementsByName("cost_of_cart")[0].value;
        if (cost_of_cart==0){
            alert("Please Add Items to Cart")
            event.preventDefault()
        }

        if (cost_of_cart != {% if cart_items and cart_items.0.cart.get_cart_total %}{{ cart_items.0.cart.get_cart_total }}{% else %}0{% endif %}){
            alert("You can't change the amount of Cart")
            event.preventDefault()
        }
    })

    document.getElementById("remove_coupon").addEventListener("click", (event)=>{
        let decision = confirm("Are you sure you want to remove the coupon?")
        if (decision==false){
            event.preventDefault()
        }
    })
</script>


{% endblock  %}