{% extends 'base/base.html' %}

{% block css %}

<style>
    .sort_and_filter{
        display: flex;
        justify-content: space-between;
        padding: 0 4rem 1rem 4rem;
        flex-wrap: wrap;
    }

    .filter input{
        /* opacity: 0; */
        display: none;
    }
    
    .filter label{
        margin: 0 -1.5px;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        border: 2px solid #BBBBBB;
        font-family: 'Inter';
        cursor: pointer;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 21px;
    }

    .selected{
        background-color: #DBE8E8;
    }

    .sortby{
        padding: 0.5rem 10rem 0.5rem 1rem;
        border-radius: 5px;
        border: 1px solid #BBBBBB;
        color: #707070;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 21px;
    }
    .sortby:focus{
        outline: none;
    }

    .allProducts{
        margin: 0 0 5rem 0;
    }

    .sortby > option:hover{
        background: var(--theme);
    }

    .prod_list{
        margin: 1rem;
    }
</style>

{% endblock %}

{% block start %}
{% include "base/alert.html" %}
{% if not query %}
  <h2 class="headMessage">
    Get Latest <span>Beauty-Products</span> out there in the Markets
  </h2>
  <div class="sort_and_filter">
    <div class="filter">
        <input 
            type="radio" 
            id="ALL" 
            onchange="get_category('ALL')" 
            {% if checked_category == cat.cat_name %}
            checked
            {% endif %}
            name="category" 
            value="ALL">
        <label for="ALL" {% if checked_category == cat.cat_name %}
        class="selected"
        {% endif %}>ALL</label>
        {% for cat in category %}
        <input 
            type="radio" 
            id="{{cat.cat_name}}" 
            onchange="get_category('{{ cat.cat_name }}')" 
            name="category" 
            {% if checked_category == cat.cat_name %}
            checked
            {% endif %}
            value="{{cat.cat_name}}"> 
        <label
        for="{{cat.cat_name}}"
        {% if checked_category == cat.cat_name %}
        class="selected" 
        {% endif %}>{{cat.cat_name}}</label>
        {% endfor %}
    </div>
    <div class="sort">
        <select name="" id="" class="sortby" onchange="sort_products(this.value)">
            {% if checked_sort == "Popularity" %}
                <option value="Popularity">Popularity</option>
                <option value="Default">Default</option>
                <option value="Price - High to Low">Price - High to Low</option>
                <option value="Price - Low to High">Price - Low to High</option>
            {% elif checked_sort == "Price - High to Low" %}
                <option value="Price - High to Low">Price - High to Low</option>
                <option value="Default">Default</option>
                <option value="Popularity">Popularity</option>
                <option value="Price - Low to High">Price - Low to High</option>
            {% elif checked_sort == "Price - Low to High" %}
                <option value="Price - Low to High">Price - Low to High</option>
                <option value="Default">Default</option>
                <option value="Popularity">Popularity</option>
                <option value="Price - High to Low">Price - High to Low</option>
            {% else %}
                <option value="Default">Sort By</option>
                <option value="Popularity">Popularity</option>
                <option value="Price - High to Low">Price - High to Low</option>
                <option value="Price - Low to High">Price - Low to High</option>
            {% endif %}
        </select>
    </div>
  </div>
  {% else %}
  <h2 class="headMessage">
    Search Results for -  <span>"{{query}}"</span>
  </h2>
  {% endif %}
  {% if products|length %}
  <div class="all_prods allProducts">
    {% for product in products %}
    <div class="products prod_list">
        <img src="/media/{{product.product_images.first.image}}" alt="" class="prodImg" />
        <h3 class="prodTitle">{{product.prod_name}}</h3>
        <div class="prodReview">
            <span>⭐4.5 | </span>
            <div class="reviewBox">
                <img src="/media/plugins/verified.png" alt="" />
                <span> {{ product.reviews.all|length }} reviews</span>
            </div>
        </div>
        <div class="prodRate">
            <span>₹{{product.price}} <strike>₹250.00</strike></span>
        </div>
        <div class="prodBtns">
            <a class="buyBtn" href="{% url 'Product' product.slug %}">Buy Now</a>
            <a href="{% url 'cart' product.uid %}" class="cartBtn">Add to cart</a>
        </div>
    </div>
    {% endfor %}
  </div>
    {% else %}
    <div class="all_prods allProducts">
        <h4>
            No Matching Results Found!
        </h4>
    </div>
    {% endif %}
  <script>
    function get_category(category){
        location.href = location.pathname + `?category=${category}`
    }

    function sort_products(sortby) {
        const url = new URL(location.href);
        const params = new URLSearchParams(url.search);

        if (params.has('sortBy')) {
            params.delete('sortBy');
        }

        params.append('sortBy', sortby);

        url.search = params.toString();

        location.href = url.toString();
    }
  </script>
{% endblock  %}