{% extends 'base/base.html' %}

{% block css %}

<style>

    .shopDescp{
        display: flex;
        flex-wrap: wrap;
        margin: 2rem auto 5rem auto;
        /* border: 2px solid red; */
    }

    .leftShop{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* border: 2px solid red; */
    }

    .mainImg img{
        width: 20rem;
        margin: 0 0 1rem 0;
        border: 1px solid;
    }

    .moreImages{
        display: flex;
    }

    .moreImages img{
        width: 3.75rem;
        border: 1px solid #D8D8D8;
        margin: 0 2px;
        border-radius: 5px;
    }

    .rightShop{
        /* border: 2px solid red; */
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
    }

    .topDescp span{
        display: block;
    }

    .aboutProduct_and_oderbox{
        display: flex;
        margin-top: 10px;
        flex-wrap: wrap;
    }

    .orderForm{
        border: 2px solid var(--theme);
        border-radius: 5px;
        padding: 1rem;
    }
    
    .descpBox{
        width: 20vw;
        /* border: 2px solid red; */
    }
    
    .descriptionList li{
        margin: 5px 0;
    }
    
    .orderBox{
        /* border: 2px solid red; */
        display: flex;
        align-items: end;
        margin-left: 1rem;
    }

    .smallDescp span:nth-child(1), .smallDescp span:nth-child(3){
        color: var(--theme);
        font-weight: bolder;
    }

    .smallDescp > span{
        display: block;
        margin: 0.5rem 0;
        color: black;
    }


    .quantityType{
        border: 1px solid #D8D8D8;
        margin: 5px 0;
        display: flex;
        user-select: none;
    }

    .quantityType span{
        padding: 0 0.5rem;
        cursor: pointer;
    }

    .quantityType span:hover{
        background: #DBE8E8;
    }
    
    .quantityType input{
        border: none;
        outline: none;
        /* width: 2rem; */
        text-align: center;
    }
    
    .quantityType input::-webkit-outer-spin-button, .quantityType input::-webkit-inner-spin-button{
        -webkit-appearance: none;
    }

    .buttonBox{
        display: flex;
        flex-direction: column;
    }

    .buttonBox button{
        margin: 5px 0;
    }

    .display-profile{
        background-color: #efefef;
        height: 3rem;
    }

    .message-username span{
        border-radius: 5px;
        background-color: #ebebeb;
        padding: 0 0.5rem;
    }

    .message-text p{
        padding: 0.5rem;
        margin: 0.5rem 0;
        border-radius: 0 5px 5px 5px;
        background-color: #f7f7f7;
        border: 1px solid #ebebeb;
    }



</style>

{% endblock %}

{% block start %}

<div class="shopDescp container">
    <div class="leftShop">
        <div class="mainImg">
            <img src="/media/{{prodDescp.product_images.first.image}}" alt="onionoil">
        </div>
        <div class="moreImages">
            {% for image in prodDescp.product_images.all %}
            <img src="/media/{{image.image}}" alt="onionoil">
            {% endfor %}
        </div>
    </div>
    <div class="rightShop">
        <div class="topDescp">
            <span class="location"> &rarr; Shop &rarr; {{prodDescp.prod_name}}</span>
            <span class="quantity">{{prodDescp.prod_quantity}}ml</span>
        </div>
        <div class="fullDescp">
            <div class="prodTitle">
                <h2>{{prodDescp.prod_name}} | Dermacet Organics</h2>
                <span>₹ {{prodDescp.price}} &nbsp; &nbsp;<span>Incl. all taxes</span></span>
            </div>
            <div class="aboutProduct_and_oderbox">
                <div class="descpBox">
                    <h4>About this Item</h4>
                    <ul class="descriptionList">
                        {% for description in prodDescp.description.all %}
                        <li>{{description.prod_descp}}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="orderBox">
                    <form class="orderForm">
                        <div class="smallDescp">
                            <span><span>₹</span> {{prodDescp.price}}</span>
                            <span>Inclusive all taxes</span>
                            <span>Quantity</span>
                        </div>
                        <div class="quantityType">
                            <span id="decrement">-</span>
                            <input type="number" name="" id="productQuantity" value="1">
                            <span id="increment" title="Add Quantity">+</span>
                        </div>
                        <div class="buttonBox my-2">
                            <a href="{% url 'cart' prodDescp.uid %}" class="buyBtn" style="text-align: center;">Add To Cart</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>
</div>
<div class="container">
    <div class="row">
        <div class="send-review">
            <form method="post" class="row g-3"> {% csrf_token %}
                <div class="col-md-12">
                    <label for="review_content" class="form-label">Enter Review...</label>
                    <input type="text" class="form-control " name="name" placeholder="Enter Review Here..." id="review_content">
                </div>
                <div class="col-12 d-flex justify-content-end">
                    <button type="button" class="cartBtn review-btns mx-2 md-2" id="review_cancel" style="display: none;">Cancel</button>
                    <input type="submit" class="buyBtn review-btns md-2" id="review_submit" style="display: none;" value="Submit">
                </div>
          </form>
        </div>
        <div class="see-reviews">
            <h3 class="my-3">Reviews (1)</h3>
            <div class="full-message d-flex">
                <div class="display-profile">
                    <img src="/media/plugins/userAdmin.png" style="width: 3rem;" alt="user_image">
                </div>
                <div class="message-content mx-3">
                    <div class="message-username"><b>@Tanishq Soni</b> <span>5.45 AM</span></div>
                    <div class="message-text"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, cumque esse nostrum quisquam ratione recusandae libero nemo commodi ullam laudantium totam quia nam praesentium dolorum expedita rerum placeat? Voluptates, est?</p></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('review_content').addEventListener('click', ()=>{
        document.getElementById('review_cancel').style.display = 'inline';
        document.getElementById('review_submit').style.display = 'inline';
    });

    document.getElementById('review_cancel').addEventListener('click', ()=>{
        document.getElementById('review_cancel').style.display = 'none';
        document.getElementById('review_submit').style.display = 'none';
    });

    document.getElementById("increment").addEventListener("click", ()=>{
        let presentNum = document.getElementById("productQuantity").value
        document.getElementById("productQuantity").value = (Number(presentNum) + 1).toString();
        Number(presentNum)<1?Number(presentNum):document.getElementById("productQuantity").setAttribute("value",document.getElementById("productQuantity").value)
    })

    document.getElementById("decrement").addEventListener("click", ()=>{
        let presentNum = document.getElementById("productQuantity").value
        document.getElementById("productQuantity").value = (Number(presentNum)<=1?Number(presentNum):Number(presentNum) - 1).toString();
        Number(presentNum)<=1?Number(presentNum):document.getElementById("productQuantity").setAttribute("value",document.getElementById("productQuantity").value)
    })
</script>

{% endblock  %}